.my-page {
  &__table-footer {
    @apply flex flex-wrap justify-end;
    position: relative;
    .pagination {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .btn__line--primary-md {
      margin-top: 25px;
    }
  }
  
}

@include breakpoint(laptop) {
  .my-page {
    .title--sm {
      @apply flex-col;
      span {
        &::before {
          content: none;
        }
        &:first-child {
          margin-bottom: 8px;
        }
        &:not(:first-child) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    &__table-footer {
      @apply flex-col items-center justify-center;
      .pagination{
        position: unset;
        transform: unset;
      }
      .btn__line--primary-md {
        margin-top: 24px;
      }
    }
  }
}