.password {
  @apply flex flex-col justify-center;
  height: 100%;
  width: 100%;
  padding: 20px 0 46px;
  margin: 0 auto;
  max-width: 700px;

  &__form {
    border-top: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
    margin: 30px 0;
    padding: 30px 0;
  }
}

.password--find {
  @apply justify-start;
  .password {
    &__form {
      border-top: 0;
      padding-top: 0;
    }
  }
  .btn__line--primary-md {
    margin-bottom: 30px;
  }
}

@include breakpoint(mobile) {
  .password {
    padding: 0 0 66px;
    &__form {
      margin: 24px 0;
      padding: 24px 0;
    }
  }
  .password--find {
    .password {
      &__form {
        border-bottom: 0;
        padding: 0;
      }
    }
    .btn__line--primary-md {
      margin-bottom: 24px;
    }
  }
}
