.el-collapse {
  @apply flex-1;
  border-top: 1px solid var(--color-gray-600) !important;
  
  .el-collapse {
    &-item {
      border-bottom: 1px solid #dddddd !important;

      &__header {
        @include typo(var(--font-size-15),500,var(--color-gray-800),18px);
        min-height: 56px;
        padding: 16px 18px 16px 0;
        border-bottom: transparent;
        transition: var(--transition);
      }
      &__arrow {
        @include icon(arrow-r__line--525);
        min-width: 24px;
        height: 24px;
        margin: 0;
        svg {
          display: none;
        }
      }

      &__wrap {
        border-bottom: none;
      }
      &__content {
        @include typo(var(--font-size-15),$color:var(--color-gray-600),$line-height:21px);
        padding: 10px 60px 30px;
        word-break: break-all;
        transition: var(--transition);
      }

      &.is-active {
        .el-collapse-item {
          &__header, &__content {
            background-color: var(--color-gray-50);
          }
        }
        .el-collapse-item__arrow {
          transform: rotate(180deg);
        }
      }

    }
  }
}
@include breakpoint(mobile) {
  .el-collapse {
    .el-collapse {
      &-item {
        &__header {
          height: 100%;
          padding: 10px 8px;
        }
        &__content {
          padding: 6px 16px 14px 8px;
        }
      }
    }
  }
}
