/* ========================== Page ========================== */
.title {
  @include typo(var(--font-size-36), 600, var(--color-gray-800));
  margin-bottom: 40px;
  em {
    @include typo(var(--font-size-24),500, var(--color-secondary-800));
    margin-bottom: 10px;
  }
  
  &--sm {
    @include before(4px, 16px) {
      @include icon(info-bar--21d);
      top: 2px;
      left: 0;
    }
    & {
      @include typo(var(--font-size-18), 500, var(--color-gray-800));
      padding-left: 9px;
      margin-bottom: 20px;
      span {
        & + span {
          @include before(1px,16px) {
            top: 2px;
            left: 0;
            background-color: var(--color-gray-200);
          }
          & {
            padding-left: 10px;
            margin-left: 10px;
            word-break: break-all;
          }
        }
      }
    }
  }
  &__desc {
    @include typo(var(--font-size-18), $color: var(--color-gray-800));
  }
}

.list {
  @apply flex flex-col;
  padding: 10px;
  @include space($y: 10px);
  li {
    @include typo(var(--font-size-15), $color: var(--color-gray-600), $line-height: 16px);
    display: inline-flex;
    word-break: break-all;
    em {
      font-weight: 600;
    }
  }
  &__depth {
    @include space($y:6px);
    margin: 10px 0 0 20px;
    li {
      font-size: var(--font-size-14);
      @apply flex flex-col;
      em {
        font-weight: 400;
        color: var(--color-secondary-800);
      }
    }
  }
  &__2depth {
    @include before(4px,4px) {
      top: 5px;
      left: 4px;
      background-color: var(--color-gray-600);
      border-radius: 50%
    }
    & {
      font-size: var(--font-size-14);
      // margin-top: 6px;
      // margin-left: 10px;
      padding-left: 15px;
    }
    
  }
}

@include breakpoint(mobile) {
  .title {
    @include typo(var(--font-size-24), 600, var(--color-gray-800));
    margin-bottom: 24px;
    text-align: center;
    em {
      font-size: var(--font-size-20);
      margin-bottom: 4px;
    }

    &--sm {
      margin-bottom: 16px;
    }
    &__desc {
      @include typo(var(--font-size-16), $color: var(--color-gray-800));
    }
  }
}
